.item {
   height: 208px;
   width: 270px;
   position: relative;
   cursor: pointer;
   transition: all 0.2s ease;
}

.item_disabled {
   filter: grayscale(1);
   pointer-events: none;
}

.moving {
   filter: grayscale(100);
}

.count {
   position: absolute;
   top: 0;
   right: 0;
}

.price {
   display: flex;
   align-items: center;
}

.bun {
   width: 240px;
   object-fit: cover;
}

.name {
   text-align: center;
}

.link {
   text-decoration: none;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}
