.form {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.edit {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.link {
   color: #4c4cff;
   text-decoration: none;
   transition: all 0.4s ease;
}

.link:hover {
   opacity: 0.8;
}

.link:active {
   color: white;
}

.form{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}